#wrapper{
    width: 100%;
    padding: 30px;
    height: 100vh;
    position: relative;
}

.ui.grid{
    margin: 0 !important;
}

.main-container{
    height: 100%;
}

.crypto-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}

.crypto-container{
    width: 100%;
    height:100%;
    background-color: #292f33;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.crypto-list{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.input-div{
    width: 100%;
    margin-bottom: 10px;
}

.crypto{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.crypto:hover{
    background-color: rgba(0,0,0, 0.1)
}

.crypto-image{
    margin-right: 10px;
}

.crypto-information{
    font-size: 19px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column-right{
    float: right;
    height: 100%;
}

.column-left{
    float: left;
    height: 100%;
}

.crypto-name{
    display: grid;
    clear: both;
    margin-top: 10px;
    grid-template-columns: auto auto;
    cursor: pointer;
}

.crypto-price-change, .crypto-icon{
    display: grid;
    clear: both;
    margin-top: 10px;
    grid-template-columns: 100px auto;
}

.crypto-price{
    display: grid;
    clear: both;
    margin-top: 10px;
    grid-template-columns: 50px auto;
    cursor: pointer;
}

.crypto-icon{
    grid-column: 2;
}

.arrow{
    grid-column: 2;
    text-align: left;
    padding-left: 10px;
}   

.price-label{
    color:#efb144;
}

.crypto-price-change > div:nth-child(1){
    margin-right: 10px;
}

.text-left{
    text-align: left;
    float: left;
}

.text-right{
    text-align: right;
    float: right;
}

.crypto-icon{
    text-align: right;
    font-size: 20px;
}

.crypto-label{
    font-size: 15px
}

.price-up{
    color:#01ff00;
}

.price-down{
    color:#e00000;
}



.dropdown-div{
    height: 70px;
    width: 100%;
    padding: 10px;
    display: block;
}

.sort-by{
    position: relative;
}

.sort-by:after {
    content:"\f078";   
    font-family: "FontAwesome";
    font-size: 15px;
    color:#949799;
    right:10px; 
    top:-3px;
    position:absolute;
    pointer-events:none;
}

.sort-by:before {
    content:'';
    right:4px; 
    top:0px;
    position:absolute;
    pointer-events:none;
    display:block;
}

.sort-by > select > option{
    background-color: #1f2326;
    border: none;
    cursor: pointer;
}


.sort-by > select:hover{
    background-color: rgba(0,0,0, 0.1);
}

.sort-by > select{
    background-color: transparent ;
    color:#949799;
    font-size: 16px;
    border-bottom:2px solid #efb144 !important;
    appearance: none; 
	-webkit-appearance: none;
    -moz-appearance: none; 
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}



.crypto-pagination{
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: absolute;
    display: block;
    left:0;
}

.prev-page, .next-page{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-page:hover, .prev-page:hover{
    background-color: rgba(0,0,0, 0.1);
    border-radius: 100px;
}
.next-page:hover > i, .prev-page:hover > i{
    color:#efb144;
}
.prev-page > i, .next-page > i{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    color:#949799;
    border-radius: 100px;
}

.column-2{
    width: 50%;
    float: left;
    position: relative;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}


@media only screen and (min-width: 1279px) and (max-width: 1450px) {
    .crypto-information{
        font-size: 19px;
    }

    .column-left, .column-right{
        width: 100%;
    }

    .crypto-information{
        display: block;
    }
    
    .crypto-price-change{
        display: flex;
        width: 65%;
        float: left;
        clear: none;
    }

    .crypto-icon{
        display: flex;
        clear: none;
        width: 35%;
        float: right;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1278px) {

    .crypto-information{
        font-size: 19px;
    }

    .column-left, .column-right{
        width: 100%;
    }

    .crypto-information{
        display: block;
    }
    
    .crypto-price-change{
        display: flex;
        width: 65%;
        float: left;
        clear: none;
    }

    .crypto-icon{
        display: none;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 870px) and (max-width: 1024px) {
    #wrapper{
        height: 100%;
    }

    .crypto-pagination{
        position: relative;
    }

    .crypto-list{
        min-height: 460px;
        width: 80%;
        margin: 0 auto;
    }
    .dropdown-div, .crypto-pagination{
        width: 80%;
        margin: 0 auto;
    }
    
}

@media (min-width: 768px) and (max-width: 869px) {
    #wrapper{
        height: 100%;
    }

    .crypto-pagination{
        position: relative;
    }

    .crypto-list{
        min-height: 460px;
        width: 80%;
        margin: 0 auto;
    }

    .dropdown-div, .crypto-pagination{
        width: 80%;
        margin: 0 auto;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    #wrapper{
        height: 100%;
    }

    .crypto-pagination{
        position: relative;
    }

    .crypto-list{
        min-height: 600px;
    }

    .crypto-information{
        font-size: 19px;
    }

    .arrow{
        padding-left: 0px;
    }

    .column-left, .column-right{
        width: 100%;
    }

    .crypto-information{
        display: block;
    }
    
    .crypto-price-change{
        display: flex;
        width: 60%;
        float: left;
        clear: none;
    }

    .crypto-icon{
        display: flex;
        clear: none;
        width: 40%;
        float: right;
    }
    .crypto-details > .column-2, .crypto-details{
        width: 100%;
    }

    .crypto-details{
        display: block !important;
        margin-bottom: 20px;
        height: 260px;
    }

    .crypto-links{
        height: 100px;
    }

    .crypto-links > .header{
        height: 70px;
    }
}
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 300px) and (max-width: 480px) {

    #wrapper{
        height: 100%;
        padding-left: 0px;
        padding-top:0px;
        padding-bottom:0px;
        padding-right:0px;
    }

    .crypto-pagination{
        position: relative;
    }

    .crypto-list{
        min-height: 600px;
    }
    .crypto-information{
        font-size: 16px;
    }

    .crypto-details{
        padding: 10px;
        height: 290px;
    }

    .crypto-container{
        padding: 5px;
    }

    .crypto-icon{
        display: none !important;
    }

    .crypto-information{
        font-size: 19px;
    }

    .column-left, .column-right{
        width: 100%;
    }

    .crypto-information{
        display: block;
    }
    
    .crypto-price-change{
        display: flex;
        width: 60%;
        float: left;
        clear: none;
    }

    .crypto-icon{
        display: flex;
        clear: none;
        width: 40%;
        float: right;
    }
    .crypto-details > .column-2, .crypto-details{
        width: 100%;
    }

    .crypto-details{
        display: block !important;
        margin-bottom: 20px;
        height: 260px;
    }

    .crypto-links{
        height: 200px;
    }

    .crypto-links > .header{
        height: 110px;
    }

    .description{
        padding: 10px;
    }
 }
